body{
	font-size: 12pt;
	background-color: white;
}

h1{
	font-size: 22pt;
	text-align: center;
}

h3{
	font-size: 10pt;
	text-align: center;
}

h2{
	font-size: 17pt;
	text-align: left;
	padding-left: 10px;
}

#linkbox{
	font-size: 12pt;
	margin: auto;
	border-color: red;
	padding: 20px;
	width: 200px;
	border-style: dotted;
	text-align: center;
}

.bold{
	font-weight: bold;
}

img{
	display: block;
	margin: auto;
}



